<!--
 * @Author: Moht153
 * @Date: 2023-01-07 22:50:02
 * @LastEditors: Moht153 1142930377@qq.com
 * @LastEditTime: 2023-01-08 18:45:14
 * @FilePath: /web/project_manager/products_management.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/manager_style.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div id="link">
        <button id="cashier">收银管理</button>
        <button id="home">返回首页</button>
        <button id="login_out">退出</button>
        
    </div>
    <div class="nav">
        <div>编号</div>
        <div>重量</div>
        <div>购买人</div>
        <div>单价</div>
        <div>总价</div>
        <div>日期</div>
    </div>
    <div id="tbody">
    
    </div>
   

<script>

    $('#login_out').on('click', function(){

            if(confirm("确定登出吗？")){
                window.localStorage.removeItem('manager_token');
                window.localStorage.removeItem('manager_user');
                window.location.href= '/';
            }
        }
    )
  
 

    token = window.localStorage.getItem('manager_token');
    username = window.localStorage.getItem('manager_user');
    var url = document.location.toString();
    var query_split = url.split('?');
    var query_set = '';
    if(query_split.length > 1){
        query_set = query_split[1];
    }
    var arrUrl = url.split("//");
    //当前访问的博客博主
    var blog_username = arrUrl[1].split('/')[1];

    if(query_set){
        var get_url = "http://192.168.0.114:8000/v1/order/"+ blog_username + "/info?" + query_set;
    }else{
        var get_url = "http://192.168.0.114:8000/v1/order/"+ blog_username + "/info";

    }
   
   
    $('button#cashier').click(function(){
        window.location =  '/' + blog_username + '/cashier';
    })

    $('button#home').click(function(){
        window.location =  '/' + blog_username + '/sheeps';
    })

    $(function(){
        

        $.ajax({
            // 请求方式
            type:"get",
            // url
            
            //url: http://127.0.0.1:8000/v1/order/Moht153/info?cust_name=fff,
            url: get_url,
            

            beforeSend: function(request) {
                request.setRequestHeader("Authorization", token);
            },
            success:function (result) {
                
                if (200 == result.code){
                    
                    var sheeps_list = result.data
                    console.log(sheeps_list)
                    for(var i=0;i< sheeps_list.length; i++){
                        var _HTML = '';
                        _HTML = '<div class="sheep_id">' + sheeps_list[i].id + '</div>'
                        _HTML += '<div class="sheep_weight">' + sheeps_list[i].weight + '</div>'
                        _HTML += '<div class="deal_to">' + sheeps_list[i].deal_to + '</div>'
                        _HTML += '<div class="price">' + sheeps_list[i].single_price + '</div>'
                        _HTML += '<div class="total_price">' + sheeps_list[i].total_price + '</div>'
                        _HTML += '<div class="dela_time">' + sheeps_list[i].deal_time + '</div><br>'
                        $('#tbody').append(_HTML)
                    }

                } else{
                    alert(result.err)
                }
            }
        });
    })
  
</script>
</body>
</html>