<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/manager_style.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div id="link">
        <button id="cashier">收银管理</button>
        <button id="log_out">退出</button>
    </div>
    <div id="nav_back"></div>
    <div class="nav">
        <div>编号</div>
        <div>重量</div>
        <div>购买人</div>
        <div>单价</div>
        <div>总价</div>
        <div>日期</div>
    </div>
    <div id="tbody"></div>
    
<script src="/static/js/product_manager.js"></script>
</body>
</html>